<head>
	<title>123</title>
	<script type="text/javascript"  src='https://cdn.bootcss.com/device.js/0.2.7/device.js'></script>
	<script>
		//alert(device.mobile());
	</script>
</head>
<div class='navbar navbar-static-top .bs-docs-nav'>
	<div class="container tips">
		<div class="left">
			<p class="title">胖胖数码今日报价</p>
		</div>
		<div class="right">
			<ul class="nav">
				<li><a href="/">首页</a></li>
				<li><a href="http://price.ppsm.club">今日报价</a></li>
				<li><a href="/attention">购买必读</a></li>
				<li><a data-toggle="modal" data-target="#myModal">联系客服</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">联系客服</h4>
      </div>
      <div class="modal-body" style="text-align: center">
        <img src="img/contactme.jpg" id="contactme">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">唯一微信：18656666788</button>
        <button type="button" class="btn btn-primary">长按识别二维码添加微信</button>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
.tips{
    padding-right: 0px;
    padding-left: 0px;
}
.nav>li>a{
	color: #000;
	padding: 0px;
	cursor: pointer;
}
.header{
	margin: 17px auto;
	padding: 0px 25px;
}
.left{
	float: left;
}
.left>span{
	padding: 7px 7px;
}
.right{
	float: right;
}
ul.nav>li{
	float: left;
	padding: 15px 15px;
	background-color: #F7F7F7;
}
ul.nav>li:hover{
	background-color: #EFEFEF;
}
.title{
	font-size: 22px;
    padding: 7px 10px;
    padding-bottom: 0px;
}
@media only screen and (max-width: 500px){
.title{
	font-size: 15px;
    padding: 13px 10px;
    padding-bottom: 0px;
}
ul.nav>li{
	float: left;
	padding: 16px 8px;
	background-color: #F7F7F7;
}
.nav>li>a{
	color: #000;
	font-size:12px;
	padding: 0px;
	cursor: pointer;
}
}
</style>
